<div class="defaultForm elementFormActivity elementForm">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.layersets) }}{{ form_widget(form.configuration.layersets) }}
    <div class="clearContainer"></div>
</div>